
.navTop{
    grid-area:'n-top';
    background: rgb(235,236,250);
    display:flex;
    flex-direction: row;
    width: 100%;
    
}

.NavLinkBlock{
    width: 100%;
    padding:5%;
}
.navList{
    display:flex;
    flex-direction: column;
    font-family: calibri;
    font-size:130%;
    padding:15%;
}
.navList a{
    color:rgb(61, 61, 61);
    text-decoration: none;
    font-style:initial;
    font-weight: bold;
    width: 100%;
}

.navList a:hover{
color:rgb(108, 108, 108);
}

.navList a.active{
    color:rgb(140, 139, 139);
}

